#podstawa{
    width: 400px;
    background-color: rgb(201, 156, 156);
}
#kwadrat1,
#kwadrat2,
#kwadrat3,
#kwadrat4{
    width: 100px;
    height: 100px;
    background-color:black;
    position: relative;
    margin-top: 15px;
    margin-left: 135px;
}
#kwadrat2{
    background-color: rgba(0, 0, 0, 0.801);
}
#kwadrat3{
    background-color: rgba(0, 0, 0, 0.600);
}
#kwadrat4{
    background-color: rgba(0, 0, 0, 0.300);
}