header .background {
    padding-top: 30px;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
}

header .background .logo a {
    color: white;
    text-decoration: none;
}

header .background .logo span {
    font-size: 40px;
    font-weight: bold;
}

header .background .logo h3 {
    font-size: 2em;
}

header .background .nav ul {
    list-style-type: none;
}

header .background .nav ul li span {
    font-size: 20px;
    color: #CD14A8;
    text-decoration: line-through;
}

header .background .nav ul li a {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

header .background .header-text h3 {
    font-size: 80px;
    font-weight: bold;
}

header .background .header-text h4 {
    font-size: 50px;
    font-weight: bold;
}

header .background .down {
    margin-top: 100px;
    font-size: 3em;
}

header .background .down a {
    color: white;
    text-decoration: none;
}

.firstPage {
    background-color: #201F1F;
    height: 100vh;
    color: white;
}

.firstPage .top {
    padding-top: 30px;
}

.firstPage .top a {
    color: white;
    text-decoration: none;
}

.firstPage .top span {
    font-size: 40px;
    font-weight: bold;
}

.firstPage .top h3 {
    font-size: 2em;
}

.firstPage .top .navfirst a {
    font-size: 20px;
    text-decoration: line-through;
}

.firstPage .aboutMe {
    padding-top: 50px;
}

.firstPage .aboutMe img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-left: 40px;
}

.firstPage .aboutMe a {
    margin-top: 30px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin-left: 15px;
}

.firstPage .btnDown {
    font-size: 3em;
}

.firstPage .btnDown a {
    color: white;
}

.firstPage .progress {
    margin-bottom: 10px;
}

.firstPage .progress-bar {
    width: 0;
    animation: progress 3.5s ease-in-out forwards;
}

.firstPage .progress-bar .title {
    opacity: 0;
    animation: show 0.35s forwards ease-in-out 0.5s;
}

@keyframes progress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.secondPage {
    background-color: #201F1F;
}

.secondPage .top {
    padding-top: 20px;
}

.secondPage .top a {
    color: white;
    text-decoration: none;
}

.secondPage .top span {
    font-size: 40px;
    font-weight: bold;
}

.secondPage .top h3 {
    font-size: 2em;
}

.secondPage .top .navfirst a {
    font-size: 20px;
    text-decoration: line-through;
}

.secondPage .text-second {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.secondPage .text-second div h3 {
    font-size: 60px;
    font-weight: bold;
}

.secondPage .text-second div h4 {
    font-size: 30px;
    font-weight: bold;
}

.secondPage .carousel {
    max-height: 300px;
    max-width: 744px;
    margin: 0 auto;
}

.secondPage .carousel .carousel-inner .carousel-item img {
    max-height: 300px;
}

.secondPage .btnDown {
    font-size: 3em;
}

.secondPage .btnDown a {
    color: white;
}

.thirdPage {
    background-color: #201F1F;
    height: 100vh;
    color: white;
}

.thirdPage .top {
    padding-top: 30px;
}

.thirdPage .top a {
    color: white;
    text-decoration: none;
}

.thirdPage .top span {
    font-size: 40px;
    font-weight: bold;
}

.thirdPage .top h3 {
    font-size: 2em;
}

.thirdPage .top .navfirst a {
    font-size: 20px;
    text-decoration: line-through;
}

.thirdPage a {
    color: white;
    text-decoration: none;
}

.thirdPage span {
    font-weight: bold;
}

.thirdPage .third-center {
    padding-top: 40px;
}

.thirdPage .btnDown {
    font-size: 3em;
}

.thirdPage .btnDown a {
    color: white;
}

.contactMe {
    background-color: #201F1F;
    height: 100vh;
    color: white;
}

.contactMe .top {
    padding-top: 30px;
}

.contactMe .top a {
    color: white;
    text-decoration: none;
}

.contactMe .top span {
    font-size: 40px;
    font-weight: bold;
}

.contactMe .top h3 {
    font-size: 2em;
}

.contactMe .top .navfirst a {
    font-size: 20px;
    text-decoration: line-through;
}

.contactMe form {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.contactMe form #name, .contactMe form #phone, .contactMe form #email, .contactMe form #msg {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid #201F1F;
    padding: 5px;
}

.contactMe form #phone, .contactMe form #email {
    margin-top: 15px;
}

.contactMe form #msg {
    height: 150px;
    margin-bottom: 50px;
}

.contactMe form #btnSubmit {
    margin: 0 auto;
    color: white;
    background-color: transparent;
    width: 80px;
    height: 50px;
    border-radius: 7px;
}

.contactMe footer {
    text-align: center;
    margin-top: 100px;
}

.contactMe footer a {
    text-decoration: none;
    color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}
