header .background {
    padding-top: 30px;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
}

header .background .header-text {
    height: 40vh;
}

header .background .header-text h3 {
    font-size: 80px;
    font-weight: bold;
}

header .background .header-text h4 {
    font-size: 50px;
    font-weight: bold;
}

@media all and (max-width: 768px) {
    header .background .header-text h3 {
        font-size: 50px;
    }

    header .background .header-text h4 {
        font-size: 30px;
    }
}

header .background .down {
    font-size: 3em;
}

header .background .down a {
    color: white;
    text-decoration: none;
    width: 100%;
}

@media all and (max-width: 768px) {
    header .background .down {
        height: 30vh;
    }
}

header .navigation {
    justify-content: space-between;
    width: 100%;
}

header .navbar-light .navbar-brand {
    color: white;
    height: 100%;
}

header .navbar-light .navbar-brand span {
    font-size: 40px;
    font-weight: bold;
}

header .navbar-light .navbar-brand h3 {
    font-size: 2em;
}

header .navbar-light .navbar-brand:hover {
    color: white;
}

@media all and (max-width: 768px) {
    header .navbar-light .navbar-brand {
        height: 0;
    }

    header .navbar-light .navbar-brand span {
        font-size: 20px;
    }

    header .navbar-light .navbar-brand h3 {
        font-size: 1em;
    }
}

@media all and (max-width: 550px) {
    header .navbar-light .navbar-brand span {
        font-size: 17px;
    }

    header .navbar-light .navbar-brand h3 {
        font-size: 0.75em;
    }
}

header .navbar-light .navbar-toggler {
    background-color: white;
}

header .navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: white;
}

header .navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: white;
}

header #menuHeader {
    font-size: 20px;
    color: #CD14A8;
    text-decoration: line-through;
    font-weight: bold;
}

header #aboutHeader,
header #worksHeader,
header #contactsHeader {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.firstPage {
    background-color: #201F1F;
    height: 100vh;
    color: white;
}

@media all and (max-width: 1200px) {
    .firstPage {
        height: auto;
    }
}

.firstPage .top {
    padding-top: 30px;
}

.firstPage .top a {
    color: white;
    text-decoration: none;
}

.firstPage .top span {
    font-size: 40px;
    font-weight: bold;
}

.firstPage .top h3 {
    font-size: 2em;
}

.firstPage .top .navfirst a {
    font-size: 20px;
    text-decoration: line-through;
}

@media all and (max-width: 768px) {
    .firstPage .top span {
        font-size: 25px;
    }

    .firstPage .top h3 {
        font-size: 1em;
    }

    .firstPage .top .navfirst a {
        font-size: 15px;
    }
}

@media all and (max-width: 550px) {
    .firstPage .top span {
        font-size: 17px;
    }

    .firstPage .top h3 {
        font-size: 0.75em;
    }

    .firstPage .top .navfirst a {
        font-size: 10px;
    }
}

.firstPage .aboutMe {
    padding-top: 50px;
    text-align: center;
}

.firstPage .aboutMe img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.firstPage .aboutMe a {
    margin-top: 30px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.firstPage .aboutMe a:first-of-type {
    margin-right: 10px;
}

.firstPage .btnDown {
    margin-top: 10px;
    font-size: 3em;
}

.firstPage .btnDown a {
    color: white;
}

.firstPage .progress {
    margin-bottom: 10px;
}

.firstPage .progress-bar {
    width: 0;
    animation: progress 3.5s ease-in-out forwards;
}

.firstPage .progress-bar .title {
    opacity: 0;
    animation: show 0.35s forwards ease-in-out 0.5s;
}

@keyframes progress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.secondPage {
    background-color: #201F1F;
    padding-bottom: 200px;
}

.secondPage .top {
    padding-top: 20px;
}

.secondPage .top a {
    color: white;
    text-decoration: none;
}

.secondPage .top span {
    font-size: 40px;
    font-weight: bold;
}

.secondPage .top h3 {
    font-size: 2em;
}

.secondPage .top .navfirst a {
    font-size: 20px;
    text-decoration: line-through;
}

@media all and (max-width: 768px) {
    .secondPage .top span {
        font-size: 25px;
    }

    .secondPage .top h3 {
        font-size: 1em;
    }

    .secondPage .top .navfirst a {
        font-size: 15px;
    }
}

@media all and (max-width: 550px) {
    .secondPage .top span {
        font-size: 17px;
    }

    .secondPage .top h3 {
        font-size: 0.75em;
    }

    .secondPage .top .navfirst a {
        font-size: 10px;
    }
}

.secondPage .text-second {
    color: white;
    padding-bottom: 10px;
}

.secondPage .text-second div h3 {
    font-size: 60px;
    font-weight: bold;
}

.secondPage .text-second div h4 {
    font-size: 30px;
    font-weight: bold;
}

@media all and (max-width: 768px) {
    .secondPage .text-second div h3 {
        font-size: 30px;
    }

    .secondPage .text-second div h3 {
        font-size: 20px;
    }
}

.secondPage .carousel {
    max-height: 300px;
    max-width: 744px;
    margin: 0 auto;
}

.secondPage .carousel .carousel-inner .carousel-item img {
    max-height: 300px;
}

.secondPage .btnDown {
    font-size: 3em;
}

.secondPage .btnDown a {
    color: white;
}

@media all and (max-width: 768px) {
    .secondPage {
        padding-bottom: 10px;
    }
}

.thirdPage {
    background-color: #201F1F;
    height: 100vh;
    color: white;
}

@media all and (max-width: 768px) {
    .thirdPage {
        height: auto;
    }
}

.thirdPage .top {
    padding-top: 20px;
}

.thirdPage .top a {
    color: white;
    text-decoration: none;
}

.thirdPage .top span {
    font-size: 40px;
    font-weight: bold;
}

.thirdPage .top h3 {
    font-size: 2em;
}

.thirdPage .top .navfirst a {
    font-size: 20px;
    text-decoration: line-through;
}

@media all and (max-width: 768px) {
    .thirdPage .top span {
        font-size: 25px;
    }

    .thirdPage .top h3 {
        font-size: 1em;
    }

    .thirdPage .top .navfirst a {
        font-size: 15px;
    }
}

@media all and (max-width: 550px) {
    .thirdPage .top span {
        font-size: 17px;
    }

    .thirdPage .top h3 {
        font-size: 0.75em;
    }

    .thirdPage .top .navfirst a {
        font-size: 10px;
    }
}

.thirdPage a {
    color: white;
    text-decoration: none;
}

.thirdPage span {
    font-weight: bold;
}

.thirdPage .third-center {
    padding-top: 40px;
}

.thirdPage .btnDown {
    font-size: 3em;
}

.thirdPage .btnDown a {
    color: white;
}

.contactMe {
    background-color: #201F1F;
    height: 100vh;
    color: white;
}

@media all and (max-width: 768px) {
    .contactMe {
        height: auto;
    }
}

.contactMe .top {
    padding-top: 30px;
}

.contactMe .top a {
    color: white;
    text-decoration: none;
}

.contactMe .top span {
    font-size: 40px;
    font-weight: bold;
}

.contactMe .top h3 {
    font-size: 2em;
}

.contactMe .top .navfirst a {
    font-size: 20px;
    text-decoration: line-through;
}

@media all and (max-width: 768px) {
    .contactMe .top span {
        font-size: 25px;
    }

    .contactMe .top h3 {
        font-size: 1em;
    }

    .contactMe .top .navfirst a {
        font-size: 15px;
    }
}

@media all and (max-width: 550px) {
    .contactMe .top span {
        font-size: 17px;
    }

    .contactMe .top h3 {
        font-size: 0.75em;
    }

    .contactMe .top .navfirst a {
        font-size: 10px;
    }
}

.contactMe form {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.contactMe form #name, .contactMe form #phone, .contactMe form #email, .contactMe form #msg {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid #201F1F;
    padding: 5px;
}

.contactMe form #phone, .contactMe form #email {
    margin-top: 15px;
}

.contactMe form #msg {
    height: 150px;
    margin-bottom: 50px;
}

.contactMe form #btnSubmit {
    margin: 0 auto;
    color: white;
    background-color: transparent;
    width: 80px;
    height: 50px;
    border-radius: 7px;
}

@media all and (max-width: 768px) {
    .contactMe form #email {
        margin-bottom: 15px;
    }
}

.contactMe footer {
    text-align: center;
    margin-top: 100px;
}

.contactMe footer a {
    text-decoration: none;
    color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}
