form{
    position: relative;
    top:120px;
    left: 480px;
    color: #FFCA40;
    background-color: #3366CC;
    width: 400px;
}
label, input, select{
    display: block;
}
input,select,textarea{
    background-color: #6699CC;
    border: 1px solid #6699CC;
}
input:focus,select:focus,textarea:focus{
    background-color: #9966CC;
    border: 1px solid white;
}
label[for='male'],
label[for='female'],
input[type='radio']
{
    display: inline;
}
input[type='checkbox'], label[for='checkbox']
{
    display: inline;
}
textarea{
    margin: 10px;
    display: block;
}
input[type='submit']
{
    position:relative;
    width:50px;
    left:175px;
    background-color: #FFA640;
}