.contactMe{
    background-color: #201F1F;
    height: 100vh;
    color:white;
    @media all and (max-width:768px)
    {
        height: auto;
    }
    .top{
        padding-top: 30px;
        a{
            color: white;
            text-decoration: none;
        }
        span{
            font-size: 40px;
            font-weight: bold;
        }

        h3{
            font-size: 2em;
        }
        .navfirst{
            a{
                font-size: 20px;
                text-decoration: line-through;
            }
           
        }
        @media all and (max-width:768px)
        {
            span{
                font-size: 25px;
            }
            h3{
                font-size: 1em;
            }
            .navfirst{
                a{
                    font-size: 15px;
                }
            }
        }
        @media all and (max-width:550px)
        {
            span{
                font-size: 17px;
            }
            h3{
                font-size: 0.75em;
            }
            .navfirst{
                a{
                    font-size: 10px;
                }
            }
        }
    }
    form{
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        #name,#phone,#email,#msg{
            width: 100%;
            height: 40px;
            border-radius: 7px;
            border: 1px solid #201F1F;
            padding: 5px;
        }
        #phone,#email{
            margin-top: 15px;
        }
        #msg{
            height: 150px;
            margin-bottom: 50px;
        }
        #btnSubmit{

            margin: 0 auto;
            color:white;
            background-color: transparent;
            width: 80px;
            height: 50px;
            border-radius: 7px;;
        }
        @media all and (max-width:768px)
        {
            #email{
                margin-bottom: 15px;
            }
        }
    }
    footer{
        text-align: center;
        margin-top: 100px;
        a{
            text-decoration: none;
            color:white;
            
        }
    }
    
}