.firstPage{
    background-color: #201F1F;
    height: 100vh;
    color:white;
    @media all and (max-width:1200px)
    {
        height: auto;
    }
    .top{
        padding-top: 30px;
        a{
            color: white;
            text-decoration: none;
        }
        span{
            font-size: 40px;
            font-weight: bold;
        }

        h3{
            font-size: 2em;
        }
        .navfirst{
            a{
                font-size: 20px;
                text-decoration: line-through;
            }
           
        }
        @media all and (max-width:768px)
        {
            span{
                font-size: 25px;
            }
            h3{
                font-size: 1em;
            }
            .navfirst{
                a{
                    font-size: 15px;
                }
            }
        }
        @media all and (max-width:550px)
        {
            span{
                font-size: 17px;
            }
            h3{
                font-size: 0.75em;
            }
            .navfirst{
                a{
                    font-size: 10px;
                }
            }
        }
       
    }
    .aboutMe{
        padding-top: 50px;
        text-align: center;
        img{
            width: 250px;
            height: 250px;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        a{
            margin-top: 30px;
            color:white;
            text-decoration: none;
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            &:first-of-type{
                margin-right: 10px;
            }
        }
    }
    .btnDown{
        margin-top: 10px;
        font-size: 3em;
        a{
            color:white;
        }
    }
    .progress{
        margin-bottom: 10px;
    }
    .progress-bar {
        width: 0;
        animation: progress 3.5s ease-in-out forwards;
        
        .title {
          opacity: 0;
          animation: show 0.35s forwards ease-in-out 0.5s;
        }
      } 
      
      @keyframes progress {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      } 
      @keyframes show  {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
}
