header{
    .background{
        padding-top: 30px;
        background-image: url("../img/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color:white;
        height: 100vh;
        
        .header-text{
            height: 40vh;
            h3{
                font-size: 80px;
                font-weight: bold;
            }
            h4{
                font-size: 50px;
                font-weight: bold;
            }
            @media all and(max-width:768px)
            {
                h3{
                    font-size: 50px;
                }
                h4{
                    font-size: 30px;
                }
            }
        }
        .down{
            font-size: 3em;
            a{
                color:white;
                text-decoration: none;
                width: 100%;
            }
            @media all and(max-width:768px)
            {
                height: 30vh;
            }
        }
    }
    .navigation{
        justify-content: space-between;
        width: 100%;
    }
 
        .navbar-light{
           
                .navbar-brand{
                    color:white;
                    height: 100%;
                    span{
                        font-size: 40px;
                        font-weight: bold;
                       
                    }
                    h3{
                        font-size: 2em;
                    }
                    &:hover{
                        color:white;
                    }
                    @media all and (max-width:768px){
                        span{
                        font-size:20px;
                        }
                        h3{
                            font-size: 1em;
                        }
                        height: 0;
                    }
                    @media all and(max-width:550px)
                    {
                        span{
                            font-size: 17px;
                        }
                        h3{
                            font-size: 0.75em;
                        }
                    }
                }

                .navbar-toggler{
                    background-color:white;
                }
            
        }
       
        .navbar.navbar-light .navbar-nav .nav-item .nav-link {
            
            color:white;
            &:hover{
                color:white;
            }
        }
        #menuHeader{
            font-size: 20px;
            color: #CD14A8;
            text-decoration: line-through;
            font-weight: bold;
        }
        #aboutHeader,
        #worksHeader,
        #contactsHeader{
            font-size: 30px;
                        font-weight: bold;
                        color:white;
                        text-decoration: none;
        }
    
}