.thirdPage{
    background-color: #201F1F;
    height: 100vh;
    color:white;
    @media all and (max-width:768px)
    {
        height: auto;
    }
    .top{
        padding-top: 20px;
        a{
            color: white;
            text-decoration: none;
        }
        span{
            font-size: 40px;
            font-weight: bold;
        }

        h3{
            font-size: 2em;
        }
        .navfirst{
            a{
                font-size: 20px;
                text-decoration: line-through;
            }
           
        }
        @media all and (max-width:768px)
        {
            span{
                font-size: 25px;
            }
            h3{
                font-size: 1em;
            }
            .navfirst{
                a{
                    font-size: 15px;
                }
            }
        }
        @media all and (max-width:550px)
        {
            span{
                font-size: 17px;
            }
            h3{
                font-size: 0.75em;
            }
            .navfirst{
                a{
                    font-size: 10px;
                }
            }
        }
}
    a{
        color: white;
        text-decoration: none;
    }
    span{
        font-weight: bold;
    }
    .third-center{
        padding-top: 40px;
    }
    .btnDown{
        font-size: 3em;
        a{
            color:white;
        }
    }
}