@media all and (min-width: 992px) and (max-width: 1170px)
{
    .headerPhoto
{
    background-image: url(../obrazy/man-2.jpg);
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.headerIntro
{
   padding-left: 0;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   color:white;

}
.headerIntro h3
{
    position: relative;
    top:100px;
    left: 150px;
}
.headerIntro h1
{
    position: relative;
    top:74px;
    left: 260px;
    font-size: 28px;
}
.outro
{
    display: none;
}

}
@media all and (max-width: 992px)
{
    .headerPhoto
    {
        background-image: url(../obrazy/man-1.jpg);
        height: 50vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .headerIntro
    {
        display: none;
    }
    .outro{
        display: block;
        text-align: center;
    }
}