div.cubes {
    position: fixed;
    width: 420px;
    height: 420px;

}
div.cube1,
div.cube2,
div.cube3,
div.cube4,
div.cube5,
div.cube6,
div.cube7,
div.cube8,
div.cube9
{
    width: 134px;
    height: 134px;
    border: 3px solid white;
    position: absolute;    
}
div.circle1,
div.circle2,
div.circle3,
div.circle4,
div.circle5,
div.circle6,
div.circle7,
div.circle8,
div.circle9
{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

div.cube1{
    background-color: red;
    top:0px;
    left: 0px;  
}
div.cube2{
    background-color: blue;
    left: 134px;
    top: 0px;;
}
div.cube3{
    background-color: rgb(0, 128, 1);
    top: 0px;
    left: 268px;
}
div.cube4{
    background-color: rgb(255, 255, 1);
    top:134px;
    left: 0px;;
}
div.cube5{
    background-color: rgb(0, 0, 0);
    top: 134px;
    left: 134px;
}
div.cube6{
    background-color: rgb(254, 165, 0);
    top:134px;
    left:268px;
}
div.cube7{
    background-color: rgb(129, 0, 127);
    top:268px;
    left:0px;
}
div.cube8{
    background-color: rgb(128, 128, 128);
    top:268px;
    left:134px;
}
div.cube9
{
    background-color: rgb(255, 192, 203);
    top:268px;
    left:268px;
}
div div{

    top:30px;
    left: 30px;
    border: 1px solid black;
}
div.circle1
{
    background-color: rgb(255, 192, 203);
}
div.circle2
{
    background-color: rgb(128, 128, 128);
}
div.circle3
{
    background-color: rgb(129, 0, 127);
}
div.circle4
{
    background-color: rgb(0, 128, 1);
}
div.circle5
{
    background-color: rgb(254, 0, 0);
}
div.circle6
{
    background-color: rgb(0, 0, 254);
}
div.circle7
{
    background-color: rgb(254, 165, 0);
}
div.circle8
{
    background-color: rgb(255, 255, 1);
}
div.circle9
{
    background-color: rgb(0, 0, 0);
}